#input {
    display: flex;
    flex-flow: column nowrap;
    --gap: 5px;
    gap: var(--gap);
}
.word {
    display: flex;
    flex-flow: row nowrap;
    /* box-shadow: inset 0 0 0 1px red; */
    gap: var(--gap);
}

.letter {
    aspect-ratio: 1;
    width: 3.5rem;
    font-family: var(--font-3);
    font-size: 1.5rem;
    font-weight: 800;
    display: grid;
    place-items: center;

    box-sizing: border-box;
    border-style: solid;

    --color: var(--l-blank);
    --border-opacity: 0.15;
    background: var(--color);
    border-color: rgb(from var(--fg) r g b / var(--border-opacity));
    border-width: 2px;
}

.word:is(.active, .invalid) .letter {
    --border-opacity: 0.3;
    background: var(--l-selected);
    &:is(.yellow, .green) {
        border-color: var(--color);
        background: oklch(from var(--color) calc(l * 0.7) calc(c * 0.5) h);
    }
}
.letter.active {
    --border-opacity: 0.8;
    border-color: var(--fg) !important;
}
.word.invalid {
    color: color-mix(in oklab, var(--fg), var(--bg) 30%);
}

.yellow {
    --color: var(--l-yellow);
}
.green {
    --color: var(--l-green);
}

#results,
#error {
    margin-top: 1em;
    padding: 1em 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5em;
}

#results {
    background: rgb(0 0 0 / 0.5);
}
#error {
    background: oklch(from var(--bg) l 80% 10deg);
}

#results {
    /* font-family: var(--font-1); */
}
.result-item {
    padding: 0.25em 0.5em;
    background: rgb(255 255 255 / 0.1);
}
#result-overflow {
    padding: 0.25em 0.5em;
    padding-right: 0em;
    opacity: 0.8;
    font-style: italic;
}

/* debug */
#mismatches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-family: monospace;

    & > :first-child {
        color: red;
        grid-column: 1 / 3;
    }
}

body > #second-section {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    align-items: stretch;
}

button#search {
    font-family: var(--font-3);
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline;
    display: block;
    padding: 1rem 0;
    text-align: center;
    background: black;
    &:hover {
        background: oklch(0.8 0.1 200deg / 0.2);
        /* background: red; */
    }
}
