:root {
    --gap: 5px;
}

#input {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
}
.word {
    display: flex;
    flex-flow: row nowrap;
    /* box-shadow: inset 0 0 0 1px red; */
    gap: var(--gap);
}
.letter {
    aspect-ratio: 1;
    width: 3em;
    display: grid;
    place-items: center;

    border: 1px solid gray;
    border-radius: 10%;

    & span {
        display: block;
    }

    &.yellow {
        background: oklch(50% 40% 100deg);
    }
    &.green {
        background: oklch(50% 40% 150deg);
    }
    &.active {
        border-color: white;
    }
}

.word:not(.active) {
    background: hsl(0 0 0);
}

#results {
    padding: 1em 2em;
    width: min(50%, 100% - 8em);
    background: rgb(0 0 0 / 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5em;
}

.result {
    padding: 0.25em 0.5em;
    background: rgb(255 255 255 / 0.1);
}
