.word-input {
    display: flex;
    flex-flow: row nowrap;
    /* box-shadow: inset 0 0 0 1px red; */
    gap: 5px;
}
.letter-input {
    aspect-ratio: 1;
    width: 3em;
    display: flex;
    place-items: center;
}
