button {
    all: unset;
}

:root {
    --bg: #111111;
    --fg: #f0f0f0;
    --l-selected: oklch(0.3 0 0);
    --l-blank: black;
    --l-yellow: oklch(60% 45% 92deg);
    --l-green: oklch(55% 45% 138deg);

    --font-1: 'Libre Baskerville';
    --font-2: 'Source Code Pro';
    --font-3: 'DM Sans';
}

:root {
    font-family: var(--font-1);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    background: var(--bg);
    color: var(--fg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    place-items: center;
    place-content: center;
    gap: 2em;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
